@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111827;
    font-family: 'Balsamiq Sans', cursive;
}

.game-area {
    width: 960px;
    height: 600px;
    display: flex;
}

.control {
    margin-left: 2rem;
    background-color: #374151;
    width: fit-content;
    border: 2px solid lightblue;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding: 2rem;
}

.title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
}

table {
    margin-bottom: 2rem;
}

.modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100vw;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    animation: animate .5s forwards;
}

.modal-inner .title {
    text-align: center;
    font-size: 3rem;
}

.modal-inner ul {
    margin: 0;
    padding: 0;
}

.modal-inner ul li {
    text-align: center;
    list-style: none;
    margin: .5rem 0;
}

input.name {
    margin-top: 2rem;
    width: 100%;
    outline: none;
    font-family: inherit;
    padding: .5em 1em;
    font-size: 1rem;
}

.button-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.button-group button {
    border: none;
    margin: 0 .5rem;
    padding: .5em 2em;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #0069d9;
    transition: .2s;
}

.button-group button:disabled {
    cursor: not-allowed;
    background-color: gray;
}

button:active {
    transform: translateY(2px);
}

button.white:hover {
    background-color: #b7b7dd;
}

button.black:hover {
    background-color: #272729;
}

button.reset {
    margin-top: 1rem;
    padding: .5em 1em;
    font-family: inherit;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
}

.timer {
    display: none;
    font-size: 4rem;
    color: white;
}

@keyframes animate {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}